.main-chat
  .main-header
    .main-header_left-box
      %h2.main-header_left-box_current-group
      test
      %ul.main-header_left-box_member-list
        member:
        %li.main-header_left-box_member-list_member
        fuku

    %a{ href: "#"}
      %div.main-header__edit-btn
        Edit

  .messages
    .message
      .message_upper-info
        %p.message_upper-info_talker
          test
        %p.message_upper-info_date
          today
      %p.message_text
      text
  .form
    .input-box
      %input{placeholder:"type__a__message",class:"input-box__text",type:"text",name:"message[content]",id:"message_content"}
      
        %label{class: "input-box__image",for:"message_image"}
          %i{class:"fa fa-image"}
          %input{class:"input-box__image__file",type:"file",name:"message[image]",id: "message_image"}
    %input{type:"submit",name:"commit",value:"Send",class:"submit-btn",data_disable_with:"Send"}






    
  
