.main-chat
  .main-header
    .main-header_left-box
      %h2.main-header_left-box_current-group
      test
      %ul.main-header_left-box_member-list
        member:
        %li.main-header_left-box_member-list_member
        fuku
    .main-header_edit-btn
      Edit
      /= link_to "#" do
  .messages
    .message
      .message_upper-info
        %p.message_upper-info_talker
          test
        %p.message_upper-info_date
          today
    %p.message_text
      text
    .form
      .input-box
        %input{placeholder:"type_a_message",class:"input-box_text",type:"text",name:"message[content]",id:"message_content"}
        
        %label{class: "input-box__image",for:"message_image"}
          %i{class:"fa-image"}
        //= icon('fas', 'image')
        //%input{type: "file"}

  %input{type:"submit",name:"commit",value:"Send",class:"submit-btn",data_disable_with:"Send"}
