.main-chat
  .main-header
    .main-header_left-box
      %h2.main-header_left-box_current-group
      test
      %ul.main-header_left-box_member-list
        member:
        %li.main-header_left-box_member-list_member
        fuku

    .main-header_edit-btn
      Edit
      = link_to "#" do
    .message
    .form