.side-bar
  .side-header
    .side-header_box
      .side-header_box_user-name
        fukumoto
      .side-header_box_menu
        .side-header_box_edit-user
          =link_to "#" do
            =icon('fas','edit')
        .side-box_new-groups
          =link_to "#" do
            =icon('fas','cog')
  .groups
    .group
    .group-name
      techcamp
    .group-message
      まだメッセージがありません