  .side-bar{
  height: 100vh;
  width: 300px;
  background-color: #white;
  float: left;
  color: #ffffff;
  .side-header{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }
  .side-header_box{
    height: 20px;
    width: 260px;
    color: #ffffff;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    &_menu{
      display: flex;
      color: #ffffff;
      li{
        margin-left: 5px;
      }

        a{
          color: #ffffff;
      }

    }

  }

 

  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);     
    padding: 20px 20px 0 20px;
    bottom: 0;
    overflow: scroll;
    
        .group-name {
          font-size: 15px;
          padding-bottom: 5px;
        }
        .group-message {
          font-size: 11px;
          padding-bottom: 40px;
        }
      
    }
  } 